p {
font-family: "BIZ UDPゴシック";
text-align: center;
}

li {
font-family: "JKゴシックM";
}

h2 {
font-family: "コーポレート・ロゴ ver2";
text-align: center;
font-size: 50px;
}

a {
font-family: "けいふぉんと";
text-align: center;
}

.btn-social-long-twitter {
  color: #FFF;
  border-radius: 7px;
  display: inline-block;
  height: 50px;
  width: 190px;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  background: #1da1f3;
  overflow: hidden;
  text-decoration:none;
}

.btn-social-long-twitter .fa-twitter {
  text-shadow: 2px 2px 0px #4287d6;
  font-size: 30px;
}

.btn-social-long-twitter span {
  display:inline-block;
  transition: .5s;
}

.btn-social-long-twitter:hover span {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.btn-partial-line {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 3px #668ad8;
  border-left: solid 3px #668ad8;
  color: #668ad8;
  transition: .4s;
}

.btn-partial-line:hover {
  padding-left: 0.7em;
  padding-right: 0.3em;
}

h2 {
  padding: 1rem 2rem;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

body{
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

div{
	margin : 0 auto;
	text-align : center
}
