p {
	font-family: "Lato";
	color: #fff;
}

li {
	font-family: "Lato";
	color: #fff;
}

a {
	font-family: "Lato";
	color: #6aabff;
}

a:hover {
	color: #348cff;
}

h1, h2, h3, h4 {
	color: #fff;
	border-bottom: 2px solid #fff;
}

body {
    width: 100%;
	margin: 0;
	background: #516060;
}

.main {
	margin: 0 auto;
	text-align: center;
	max-width: 80vw;
}

.container {
	display: flex;
	justify-content: center;
	box-shadow: 0px 0px 20px;
	margin: 0 auto;
	width: 1214px;
	background: #fff;
}

.lixyinfo {
	text-align: left;
	font-size: 20px;
	margin-left: 10px;
}

.lixyinfo_txt {
	color: #000;
}

.aboutpage {
	background: linear-gradient(150deg, #6f4dff, #80fffe);
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: "Lato";
}

.footer {
	background-color: #202020;
	width: 100vw;
	max-width: 100%;
	height: 300px;
	margin: 0px;
	padding-top: 25px;
	margin-top: 50px;
	text-align: center;
}

.footerlink {
	color: #fff;
	text-align: left;
	font-size: 14px;
}

.footerms {
	color: #ffffff;
	text-align: center;
}

.footercontent {
	display: flex;
	flex-direction: row;
	margin-left: 150px;
	margin-right: 150px;
	justify-content: center;
}

.footerlinks {
	display: flex;
	flex-direction: column;
	margin-right: 15px;
}

.header {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-height: 300px;
	max-width: 1000px;
	width: 100vw;
}

.pagetitle {
	font-family: "Lato";
	text-align: center;
	width: 100vw;
	font-size: 50px;
	padding: 1rem 2rem;
	color: #fff;
	background: linear-gradient(150deg, #6f4dff, #80fffe);
}

.content {
	display: flex;
	flex-direction: row;
}

.items {
	display: flex;
	flex-direction: column;
	width: 300px;
	flex-grow: 1;
}

.itemimage {
	width: 300px;
	height: 300px;
	overflow: hidden;
}

.barner {
	width: 300px;
	height: 60px;
}

.contsubtitle {
	color: #fff;
	text-align: left;
}

.googlesheet {
	width: 70vw;
	height: 400px;
}

#animation {
	animation: fade-in 1s;
	animation-fill-mode: forwards;
  }
  @keyframes fade-in {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

.exclamation {
	font-size: 25px;
	color: red;
	font-weight: 600;
}